<h1>Restaurants</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.category %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.phone_number %></td>
        <td><%= link_to 'Show', restaurant_path(restaurant), class: 'btn btn-success' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Restaurant', new_restaurant_path, class: 'btn btn-primary' %>
